@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&family=Raleway:wght@300;500;600;700;800&display=swap');

:root{
  --primary-color : #62B246;
  --secondary-color : #A1FE6B;
}


body{
  font-family: 'poppins',sans-serif;
  background-color: #F5F5F7;
}